<div  style="text-align:center; margin:40px" class="container-fluid">
  <p>Any ideas please feel free to write me!</p>
  <p> Name: John Green</p>
  <div style="color:blue"><i>johng@gmail.com</i></div>
</div>


