<div class="row mt-2">
  <div class="col" *ngIf="post">
    <h4>Post details</h4>
    <p>Date: <strong>{{post.date}}</strong></p>
    <h5>Title:{{post.title}}</h5>
    <h5>Description:{{post.description}}</h5>
    <hr/>
    <p>Manage post:</p>
    <button class="btn btn-secondary" (click)="changePost(this.postId)">Edit</button>&nbsp;
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
