<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" routerLink="/">My Blog</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="posts" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="posts/add" class="nav-link">Add</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="about" class="nav-link">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="contacts" class="nav-link">Contacts</a>
      </li>

    </ul>
  </div>
</nav>
