<div class="col-sm-8">
  <div class="card-body">
    <div class="card-text">{{ post.date }}</div>
    <hr/>
    <div class="card-text">{{ post.title}}</div>
    <hr/>
    <div class="card-text small">{{ post.description }}</div>
    <hr/>
    <button (click)="onClick(post.id)"
      type="submit"
      class="btn btn-warning"
    >Read more
    </button>
  </div>
</div>

