<div class="row mt-2">
   <div><h4>Add new post</h4></div>

    <form (ngSubmit)="sendPost()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          [(ngModel)]="title"
          name="title"
          id="title"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
         [(ngModel)]="description"
          id="description"
          class="form-control"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-warning"
      >Save
      </button>
    </form>
  </div>


